<a href="https://colab.research.google.com/github/PrinceDaveIgnacio/58013_LINEAR_ALGEBRA/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# Review of Python
```

Python Indentation

In [1]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [2]:
#This is a comment
print("Hello, World!")

Hello, World!

In [3]:
x = 1
a, b = 0, -1
a, b, c = 0,-1,2
d = "Sally" #This is a type of string
print(c)

2

In [5]:
b = "Sally"
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

In [6]:
x = 5
y = "john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [7]:
y = "John"
y = 'John'

print(y)

John

In [ ]:
a = 4
A = "Sally" #A will not overwrite a

In [8]:
x, y, z = "one", "two","three"
print(x)
print(y)
print(z)

one
two
three

In [9]:
x=y=z = "four"
print(x)
print(y)
print(z)

four
four
four

In [10]:
x = "enjoying"
print("Python Programming is "+ x)

Python Programming is enjoying

In [11]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmethic Operation

In [ ]:
#Example
x = 5
y= 3
print(x+y)


x = 5
y = 3
sum = x + y
print(sum)

Assignment Operator

In [12]:
a, b, c = 0,-1,6
c %= 3
print(c)

0

Comparison Operator

In [21]:
a, b, c =0,-1, 6
a>b and c>b

True

True

In [22]:
a, b, c = 0, -1, 5
a is c
True

True

Bitwise Operator

In [28]:
 a, b, c = 0, -1, 5
 c << 1

12